.gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.hexagon {
  height: 100px;
  width: 60px;
  position: relative;
  padding-top: 25px;
  box-sizing: border-box;
  color: black;
  font-size: 40px;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

.hexagon::before, .hexagon::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.hexagon.outer::before {
  left: -30px;
  border-right: 30px solid #e6e6e6;
}

.hexagon.inner::before {
  left: -30px;
  border-right: 30px solid #f6cb43;
}

.hexagon.outer::after {
  right: -30px;
  border-left: 30px solid #e6e6e6;
}

.hexagon.inner::after {
  right: -30px;
  border-left: 30px solid #f6cb43;
}

.outer {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.inner {
  background-color: #f6cb43;
}

.controls-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.pill-button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid black;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  width: 100vw;
}

.input-section span {
  font-weight: bold;
  font-size: 40px;
  color: #000;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}